body {
    background-color: #edefed;
    font-family: "Arial Neue", "Helvetica", sans-serif;
    text-align: center;
    color: #484848;
}

/* Flexbox */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container {
    margin: 48px 0 36px 0;
}

.title {
    margin-bottom: 6px;
    letter-spacing: 1px;
}

.subtitle {
    font-size: 11pt;
}

.img-container {
    display: flex;
    margin-bottom: 27px;
    width: 1056px;
    height: 368px;
}

.img-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    width: 327px;
    height: 344px;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
}

.img-container span {
    font-size: 24pt;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
}

.button {
    margin-bottom: 27px;
    border: 1px solid #aaa;
    padding: 9px 27px;
    width: 273px;
    background-color: #fff;
}

h1 {
  color: salmon;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Images */
#img-london {
    background-image: url(../img/london.jpg);
}

#img-napa {
    background-image: url(../img/napa.jpg);
}

#img-nyc {
    background-image: url(../img/new-york.jpg);
}

#img-sf-1 {
    background-image: url(../img/san-francisco.jpg);
}

#img-sf-2 {
    background-image: url(../img/san-francisco-2.jpg);
}

#img-sonoma {
    background-image: url(../img/sonoma.jpg);
}

/*TODO @media stack blocks and change flex grow */

@media screen and (max-width: 1070px) {
    .img-container {
        flex-wrap: wrap;
        width: 700px;
        height: auto;
    }

    .img-container a div {
        width: 326px;
    }

    .img-container a:first-child div {
        width: 676px;
    }
}
